<app-card>
    <div header><h4 class="card-title">Tag an Element</h4></div>
    <div body>
        <p class="card-text">Choose a candidate tag type to associate with an element below. This interface is also accessible via the Dev Tools.</p>
    </div>
    <div footer>
        <div class="btn-group btn-primary">
            <button class="btn" (click)="startSelectorMode('labelCandidate')"><clr-icon shape="plus"></clr-icon> Label</button>
            <button class="btn btn-danger" (click)="startSelectorMode('errorMessage')"><clr-icon shape="plus"></clr-icon> Error Message</button>
            <button class="btn btn-success" (click)="startSelectorMode('commit')"><clr-icon shape="plus"></clr-icon> Commit Button</button>
          </div>
    </div>
</app-card>
