<div class="card" *ngIf="!analysisComplete && !error">
  <div class="card-block">
    <div class="progress flash loop top" *ngIf="inProgress">
      <progress value="10" max="100"></progress>
    </div>
    <h4 class="card-title">{{pageTitle}}</h4>
    <p class="card-text">Analyzing a page transforms the DOM into a special tree and extracts candidates for
      interaction from the page.</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="analyze()" [disabled]="inProgress">
      <clr-icon shape="tasks"></clr-icon> Analyze
    </button>
  </div>
</div>
<div class="card" *ngIf="analysisComplete">
  <div class="card-header">
    <div class="clr-row clr-align-items-*-center">
      <div class="clr-col-8">
        <span>Analysis Completed</span>
      </div>
      <div class="clr-col-4 align-right">
        <span>
          <button class="btn btn-primary btn-icon float-right tooltip tooltip-lg tooltip-bottom-left btn-sm" role="tooltip"
            aria-haspopup="true" (click)="analyze()" [disabled]="inProgress">
            <clr-icon shape="refresh"></clr-icon><span class="tooltip-content">Run analysis on this page again.</span>
          </button> <button class="btn btn-danger btn-icon float-right tooltip tooltip-lg tooltip-bottom-left btn-sm" role="tooltip"
          aria-haspopup="true" (click)="deleteAnalysis()" [disabled]="inProgress">
          <clr-icon shape="trash"></clr-icon><span class="tooltip-content">Delete Page Analysis for this page.</span>
        </button></span>
      </div>
    </div>
  </div>
  <div class="card-block">
    <clr-tree-node [clrExpanded]="true">
      Page Analysis
      <clr-tree-node [clrExpanded]="true">
        Cancels ({{analysis.cancels.length}})
        <clr-tree-node *ngFor="let cancel of analysis.cancels">{{cancel}}</clr-tree-node>
      </clr-tree-node>
      <clr-tree-node [clrExpanded]="true">
        Commits ({{analysis.commits.length}})
        <clr-tree-node *ngFor="let commit of analysis.commits">{{commit}}</clr-tree-node>
      </clr-tree-node>
      <clr-tree-node [clrExpanded]="true">
        Error Messages ({{analysis.errorMessages.length}})
        <clr-tree-node *ngFor="let errorMessage of analysis.errorMessages">{{errorMessage}}</clr-tree-node>
      </clr-tree-node>
      <clr-tree-node [clrExpanded]="true">
        Label Candidates ({{analysis.labelCandidates.length}})
        <clr-tree-node *ngFor="let labelCandidate of analysis.labelCandidates">{{labelCandidate}}</clr-tree-node>
      </clr-tree-node>
      <clr-tree-node [clrExpanded]="true">
        Page Titles ({{analysis.pageTitles.length}})
        <clr-tree-node *ngFor="let pageTitle of analysis.pageTitles">{{pageTitle}}</clr-tree-node>
      </clr-tree-node>
    </clr-tree-node>
  </div>
  <div class="card-footer">
    <span>{{timeSince(analysis.timeStamp)}}</span>
  </div>
</div>
<app-error [error]="error" (dismiss)="dismissError()" *ngIf="error"></app-error>
