<div class="main-container">
  <div class="content-container">
    <div class="content-area">
        <ul id="demoTabs" class="nav" role="tablist">
            <li role="presentation" class="nav-item">
                <button id="tab1" class="btn btn-link nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" type="button">Analyze</button>
            </li>
            <li role="presentation" class="nav-item">
                <button id="tab2" class="btn btn-link nav-link" routerLink="/label" routerLinkActive="active" type="button">Label Candidates</button>
            </li>
            <li role="presentation" class="nav-item">
                <button id="tab3" class="btn btn-link nav-link" routerLink="/settings" routerLinkActive="active" type="button">Settings</button>
            </li>
        </ul>
        <app-smooth-height [@routeAnimations]="prepareRoute(outlet)" [trigger]="outlet.activatedRouteData">
            <router-outlet #outlet="outlet"></router-outlet>
        </app-smooth-height>
        <app-overlay-toggle></app-overlay-toggle>
    </div>
  </div>
</div>
