<app-card>
  <div header><h4 class="card-title">Change User Settings</h4></div>
  <div body>
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">These settings are stored in cache for this instance of Chrome only.</span>
        </div>
      </div>
    </div>
  </div>
  <div footer>
    <form clrForm>
      <clr-input-container>
        <label>Page Analysis API Host</label>
        <input clrInput type="text" name="example" [(ngModel)]="host" (change)="update()"  size="35" />
      </clr-input-container>
    </form>
  </div>
</app-card>
